#============= bluetooth ==============
allow bluetooth vendor_file:file { open read execute getattr };
allow bluetooth bg_boot_complete_prop:file read;
allow bluetooth bg_daemon_prop:file read;
allow bluetooth bootloader_boot_reason_prop:file read;
allow bluetooth boottime_prop:file read;
allow bluetooth cnd_vendor_prop:file read;
allow bluetooth console_silent_prop:file read;
allow bluetooth ctl_LKCore_prop:file read;
allow bluetooth ctl_bootanim_prop:file read;
allow bluetooth ctl_bugreport_prop:file read;
allow bluetooth ctl_fuse_prop:file read;
allow bluetooth ctl_interface_restart_prop:file read;
allow bluetooth ctl_interface_start_prop:file read;
allow bluetooth ctl_console_prop:file read;
allow bluetooth ctl_default_prop:file read;
allow bluetooth ctl_dumpstate_prop:file read;
allow bluetooth ctl_interface_stop_prop:file read;
allow bluetooth ctl_mdnsd_prop:file read;
allow bluetooth ctl_qcrild_prop:file read;
allow bluetooth ctl_restart_prop:file read;
allow bluetooth ctl_rildaemon_prop:file read;
allow bluetooth ctl_sigstop_prop:file read;
allow bluetooth ctl_start_prop:file read;
allow bluetooth ctl_stop_prop:file read;
allow bluetooth ctl_vendor_hbtp_prop:file read;
allow bluetooth ctl_vendor_imsrcsservice_prop:file read;
allow bluetooth ctl_vendor_mmid_prop:file read;
allow bluetooth ctl_vendor_netmgrd_prop:file read;
