allow hal_audio_default audio_prop:file { getattr open read };
allow hal_audio_default vendor_data_file:dir { create write add_name };
allow hal_audio_default vendor_data_file:file { append create read };
