#============= hal_perf_default ==============
allow hal_perf_default default_prop:file { getattr open read };
allow hal_perf_default system_prop:file { getattr open read };
