#============= hal_fingerprint_default ==============
allow hal_fingerprint_default firmware_file:file { getattr open read };
allow hal_fingerprint_default init:unix_stream_socket connectto;
allow hal_fingerprint_default property_socket:sock_file write;
allow hal_fingerprint_default sysfs:file write;
allow hal_fingerprint_default system_prop:property_service set;
allow hal_fingerprint_default tee_device:chr_file { ioctl open read write };
allow hal_fingerprint_default uhid_device:chr_file { ioctl open write };

