#============= init ==============
allow init hwservicemanager:binder { call transfer };
allow init btnvtool_exec:file execute;
allow init ipa_dev:chr_file open;
allow init fingerprintd_device:chr_file setattr;
allow init ion_device:chr_file ioctl;
allow init proc:file setattr;
allow init sysfs:file { open read write };
allow init sysfs_dm:file { open write };
allow init tee_device:chr_file ioctl;
allow init vndbinder_device:chr_file { ioctl open read write };
