#============= init ==============
allow init hwservicemanager:binder { call transfer };
allow init btnvtool_exec:file execute;
allow init ipa_dev:chr_file open;
allow init fingerprintd_device:chr_file setattr;
allow init ion_device:chr_file ioctl;
allow init proc:file { getattr open setattr read };
allow init property_socket:sock_file write;
allow init sysfs:file { open read write };
allow init sysfs_dm:file { open write };
allow init tee_device:chr_file { write ioctl };
allow init vndbinder_device:chr_file { ioctl open read write };
allow init vendor_file:file { execute execute_no_trans };
allow init cameraserver:process noatsecure;
allow init hal_camera_default:process noatsecure;
allow init hal_wifi_supplicant_default:process noatsecure;
allow init adbd:process noatsecure;
allow init audioserver:process noatsecure;
allow init fsck:process noatsecure;
allow init hal_audio_default:process noatsecure;
allow init hal_bootctl_default:process noatsecure;
allow init hal_drm_hwservice:hwservice_manager add;
allow init hal_gatekeeper_qti:process noatsecure;
allow init hal_keymaster_qti:process noatsecure;
allow init hidl_base_hwservice:hwservice_manager add;
allow init mediaserver:process noatsecure;
allow init qti_init_shell:process noatsecure;
allow init recovery_refresh:process noatsecure;
allow init tee:process noatsecure;
allow init ueventd:process noatsecure;
allow init vendor_init:process noatsecure;
allow init vold:process noatsecure;
allow init bootanim:process noatsecure;
allow init hal_cas_default:process noatsecure;
allow init hal_configstore_default:process noatsecure;
allow init hal_drm_default:process noatsecure;
allow init healthd:process noatsecure;
allow init hwservicemanager:process noatsecure;
allow init ipacm:process noatsecure;
allow init netd:process noatsecure;
allow init recovery_persist:process noatsecure;
allow init rild:process noatsecure;
allow init servicemanager:process noatsecure;
allow init tzdatacheck:process noatsecure;
allow init update_verifier:process noatsecure;
allow init vdc:process noatsecure;
allow init vndservicemanager:process noatsecure;
allow init zygote:process noatsecure;
allow init hal_drm_clearkey:process noatsecure;
allow init hal_graphics_allocator_default:process noatsecure;
allow init hal_graphics_composer_default:process noatsecure;
allow init hal_health_default:process noatsecure;
allow init hal_ir_default:process noatsecure;
allow init hal_sensors_default:process noatsecure;
allow init hal_usb_default:process noatsecure;
allow init msm_irqbalanced:process noatsecure;
allow init netmgrd:process noatsecure;
allow init otapreopt_slot:process noatsecure;
allow init port-bridge:process noatsecure;
allow init qti:process noatsecure;
allow init adsprpcd:process noatsecure;
allow init hal_display_color_default:process noatsecure;
allow init hal_dpmQmiMgr:process noatsecure;
allow init hal_light_default:process noatsecure;
allow init hal_memtrack_default:process noatsecure;
allow init hal_power_default:process noatsecure;
allow init hal_thermal_default:process noatsecure;
allow init hal_vibrator_default:process noatsecure;
allow init hal_wifi_default:process noatsecure;
allow init hal_wifi_hostapd_default:process noatsecure;
allow init mm-pp-daemon:process noatsecure;
allow init vendor_hal_factory_qti_default:process noatsecure;
allow init vendor_per_mgr:process noatsecure;
allow init drmserver:process noatsecure;
allow init hal_alarm_qti_default:process noatsecure;
allow init hal_esepowermanager_qti:process noatsecure;
allow init hal_gnss_qti:process noatsecure;
allow init hal_perf_default:process noatsecure;
allow init hal_qdutils_disp_qti:process noatsecure;
allow init hal_qteeconnector_qti:process noatsecure;
allow init hal_tui_comm_qti:process noatsecure;
allow init installd:process noatsecure;
allow init mediacodec:process noatsecure;
allow init mediadrmserver:process noatsecure;
allow init mediaextractor:process noatsecure;
allow init hal_mlipay_default:process noatsecure;
allow init irsc_util:process noatsecure;
allow init rfs_access:process noatsecure;
allow init rmt_storage:process noatsecure;
allow init self:process execmem;
allow init mediadrmserver:binder call;
allow init sensors:process noatsecure;
allow init thermalserviced:process noatsecure;
allow init mediadrmserver:binder transfer;
allow init atfwd:process noatsecure;
allow init energyawareness:process noatsecure;
allow init hvdcp:process noatsecure;
allow init keystore:process noatsecure;
allow init thermal-engine:process noatsecure;
