#============= init ==============
allow init hwservicemanager:binder { call transfer };
allow init btnvtool_exec:file execute;
allow init ipa_dev:chr_file open;
allow init fingerprintd_device:chr_file setattr;
allow init ion_device:chr_file ioctl;
allow init proc:file { getattr open setattr read };
allow init property_socket:sock_file write;
allow init sysfs:file { open read write };
allow init sysfs_dm:file { open write };
allow init tee_device:chr_file { write ioctl };
allow init vndbinder_device:chr_file { ioctl open read write };
allow init vendor_file:file { execute execute_no_trans };
allow init cameraserver:process noatsecure;
allow init hal_camera_default:process noatsecure;
allow init hal_wifi_supplicant_default:process noatsecure;
allow init adbd:process noatsecure;
allow init audioserver:process noatsecure;
allow init fsck:process noatsecure;
allow init hal_audio_default:process noatsecure;
allow init hal_bootctl_default:process noatsecure;
allow init hal_drm_hwservice:hwservice_manager add;
allow init hal_gatekeeper_qti:process noatsecure;
allow init hal_keymaster_qti:process noatsecure;
allow init hidl_base_hwservice:hwservice_manager add;
allow init mediaserver:process noatsecure;
allow init qti_init_shell:process noatsecure;
allow init recovery_refresh:process noatsecure;
allow init tee:process noatsecure;
allow init ueventd:process noatsecure;
allow init vendor_init:process noatsecure;
allow init vold:process noatsecure;
