#============= mediaprovider ==============
allow mediaprovider bg_boot_complete_prop:file read;
allow mediaprovider bg_daemon_prop:file read;
allow mediaprovider bluetooth_a2dp_offload_prop:file read;
allow mediaprovider bluetooth_prop:file read;
allow mediaprovider bootloader_boot_reason_prop:file read;

allow mediaprovider boottime_prop:file read;
allow mediaprovider cnd_vendor_prop:file read;
allow mediaprovider console_silent_prop:file read;
allow mediaprovider ctl_LKCore_prop:file read;
allow mediaprovider ctl_atfwd_prop:file read;
allow mediaprovider boottime_prop:file read;
allow mediaprovider cnd_vendor_prop:file read;
allow mediaprovider console_silent_prop:file read;
allow mediaprovider ctl_LKCore_prop:file read;
allow mediaprovider ctl_atfwd_prop:file read;

#============= mediadrmserver ==============
allow mediadrmserver init:binder transfer;
allow mediadrmserver init:binder call;
allow init mediadrmserver:binder transfer;
