#============= netmgrd ==============
allow netmgrd default_prop:property_service set;
allow netmgrd property_socket:sock_file write;
allow netmgrd netutils_wrapper:process noatsecure;
allow netmgrd kernel:system module_request;
allow netmgrd default_prop:file read;
allow netmgrd default_prop:file open;
allow netmgrd default_prop:file getattr;
