# move-goodix-data-sh for fingerprint sensor
coredata_datavendor_migration(move-goofix-data-sh, fingerprintd_data_file, fingerprint_vendor_data_file);
