#============= otapreopt_chroot ==============
allow otapreopt_chroot postinstall_dexopt:process noatsecure;
allow otapreopt_chroot postinstall_file:lnk_file read;
allow otapreopt_chroot system_file:dir mounton;
