allow platform_app bg_boot_complete_prop:file read;
allow platform_app bg_daemon_prop:file read;
allow platform_app bluetooth_a2dp_offload_prop:file read;
allow platform_app bluetooth_prop:file read;
allow platform_app bootloader_boot_reason_prop:file read;
allow platform_app boottime_prop:file read;
allow platform_app cnd_vendor_prop:file read;
allow platform_app console_silent_prop:file read;
allow platform_app ctl_LKCore_prop:file read;
allow platform_app sysfs_leds:dir search;
