#============= postinstall ==============
domain_auto_trans(postinstall, otapreopt_chroot_exec, otapreopt_chroot)
allow postinstall otapreopt_chroot:process noatsecure;
allow postinstall rootfs:dir { read write open getattr setattr };
