#============= priv_app ==============
allow priv_app sysfs_graphics:file { getattr open read };
allow priv_app bg_boot_complete_prop:file read;
allow priv_app bg_daemon_prop:file read;
allow priv_app bluetooth_a2dp_offload_prop:file read;
allow priv_app bluetooth_prop:file read;
allow priv_app bootloader_boot_reason_prop:file read;
allow priv_app boottime_prop:file read;
allow priv_app bt_firmware_file:filesystem getattr;
allow priv_app cnd_vendor_prop:file read;
allow priv_app ctl_vendor_imsrcsservice_prop:file read;
allow priv_app ctl_vendor_mmid_prop:file read;
allow priv_app ctl_vendor_netmgrd_prop:file read;
allow priv_app ctl_vendor_port-bridge_prop:file read;
allow priv_app device:dir { open read };
allow priv_app device_logging_prop:file read;
allow priv_app dumpstate_options_prop:file read;
allow priv_app exported_audio_prop:file read;
allow priv_app firmware_file:filesystem getattr;
allow priv_app proc:file { getattr open read };
allow priv_app proc_modules:file { getattr open read };
allow priv_app sysfs:{ dir file } { read open };
allow priv_app proc_interrupts:file open;
allow priv_app mnt_vendor_file:dir search;
allow priv_app console_silent_prop:file read;
allow priv_app ctl_LKCore_prop:file read;
allow priv_app ctl_atfwd_prop:file read;
allow priv_app ctl_bootanim_prop:file read;
allow priv_app ctl_bugreport_prop:file read;
allow priv_app ctl_console_prop:file read;
allow priv_app ctl_default_prop:file read;
allow priv_app ctl_dumpstate_prop:file read;
allow priv_app ctl_sigstop_prop:file read;
allow priv_app ctl_start_prop:file read;
allow priv_app ctl_stop_prop:file read;
allow priv_app ctl_vendor_hbtp_prop:file read;
allow priv_app ctl_vendor_qmuxd_prop:file read;
allow priv_app proc_interrupts:file read;
allow priv_app ctl_fuse_prop:file read;
allow priv_app ctl_interface_restart_prop:file read;
allow priv_app ctl_interface_start_prop:file read;
allow priv_app ctl_interface_stop_prop:file read;
allow priv_app ctl_mdnsd_prop:file read;
allow priv_app fst_prop:file read;
allow priv_app graphics_vulkan_prop:file read;
allow priv_app hal_fingerprint_prop:file read;
allow priv_app hvdcp_opti_prop:file read;
allow priv_app last_boot_reason_prop:file read;
allow priv_app ctl_qcrild_prop:file read;
allow priv_app ctl_restart_prop:file read;
allow priv_app ctl_rildaemon_prop:file read;
allow priv_app ctl_vendor_rild_prop:file read;
allow priv_app ctl_vendor_rmt_storage_prop:file read;
allow priv_app ctl_vendor_wigigsvc_prop:file read;
allow priv_app exported_bluetooth_prop:file read;
allow priv_app exported_overlay_prop:file read;
allow priv_app exported_wifi_prop:file read;
allow priv_app firstboot_prop:file read;
allow priv_app fm_prop:file read;
allow priv_app location_prop:file read;
allow priv_app logpersistd_logging_prop:file read;
allow priv_app lowpan_prop:file read;
allow priv_app mm_parser_prop:file read;
allow priv_app mm_video_prop:file read;
allow priv_app mmc_prop:file read;
allow priv_app msm_irqbalance_prop:file read;
allow priv_app msm_irqbl_sdm630_prop:file read;
allow priv_app net_dns_prop:file read;
allow priv_app netd_stable_secret_prop:file read;
allow priv_app nfc_nq_prop:file read;
allow priv_app overlay_prop:file read;
allow priv_app persist_khung_prop:file read;
allow priv_app persistent_properties_ready_prop:file read;
allow priv_app qcom_ims_prop:file read;

#============= poweroffalarm_app ==============
allow poweroffalarm_app bg_boot_complete_prop:file read;
allow poweroffalarm_app bg_daemon_prop:file read;
allow poweroffalarm_app bluetooth_a2dp_offload_prop:file read;
allow poweroffalarm_app bluetooth_prop:file read;

#============= priv_app ==============
allow priv_app qvr_prop:file read;
allow priv_app safemode_prop:file read;
allow priv_app scr_enabled_prop:file read;
allow priv_app sensors_prop:file read;
allow priv_app serialno_prop:file read;
allow priv_app system_app_data_file:dir getattr;
allow priv_app mediadrmserver_exec:file getattr;
allow priv_app slpi_prop:file read;
allow priv_app spcomlib_prop:file read;
allow priv_app spectrum_prop:file read;
allow priv_app system_boot_reason_prop:file read;
allow priv_app theme_prop:file read;
allow priv_app tombstoned_exec:file getattr;
allow priv_app test_boot_reason_prop:file read;
allow priv_app traced_enabled_prop:file read;
allow priv_app usf_prop:file read;
allow priv_app vendor_alarm_boot_prop:file read;
allow priv_app vendor_am_prop:file read;
allow priv_app vendor_audio_debug_prop:file read;
