allow priv_app sysfs_graphics:file { getattr open read };
allow priv_app bg_boot_complete_prop:file read;
allow priv_app bg_daemon_prop:file read;
allow priv_app bluetooth_a2dp_offload_prop:file read;
allow priv_app bluetooth_prop:file read;
allow priv_app bootloader_boot_reason_prop:file read;
allow priv_app boottime_prop:file read;
allow priv_app bt_firmware_file:filesystem getattr;
allow priv_app cnd_vendor_prop:file read;
allow priv_app ctl_vendor_imsrcsservice_prop:file read;
allow priv_app ctl_vendor_mmid_prop:file read;
allow priv_app ctl_vendor_netmgrd_prop:file read;
allow priv_app ctl_vendor_port-bridge_prop:file read;
allow priv_app device:dir { open read };
allow priv_app device_logging_prop:file read;
allow priv_app dumpstate_options_prop:file read;
allow priv_app exported_audio_prop:file read;
allow priv_app firmware_file:filesystem getattr;
allow priv_app proc:file { getattr open read };
allow priv_app proc_modules:file { getattr open read };
allow priv_app sysfs:{ dir file } { read open };
allow priv_app proc_interrupts:file open;
allow priv_app mnt_vendor_file:dir search;
