#============= radio ==============
allow radio vendor_file:file { execute getattr open read };
allow radio vendor_file:file rx_file_perms;
allow radio bg_boot_complete_prop:file read;
allow radio bg_daemon_prop:file read;
allow radio bluetooth_a2dp_offload_prop:file read;
allow radio bluetooth_prop:file read;
allow radio bootloader_boot_reason_prop:file read;
allow radio boottime_prop:file read;
allow radio cnd_vendor_prop:file read;
allow radio console_silent_prop:file read;
allow radio ctl_LKCore_prop:file read;
allow radio ctl_atfwd_prop:file read;
allow radio ctl_bootanim_prop:file read;
allow radio ctl_bugreport_prop:file read;
allow radio ctl_console_prop:file read;
allow radio ctl_default_prop:file read;
allow radio ctl_dumpstate_prop:file read;
allow radio ctl_fuse_prop:file read;
allow radio ctl_interface_restart_prop:file read;
allow radio ctl_interface_start_prop:file read;
allow radio ctl_interface_stop_prop:file read;
allow radio ctl_mdnsd_prop:file read;
allow radio ctl_qcrild_prop:file read;
allow radio ctl_restart_prop:file read;
allow radio ctl_sigstop_prop:file read;
allow radio ctl_start_prop:file read;
allow radio ctl_stop_prop:file read;
allow radio ctl_vendor_hbtp_prop:file read;
allow radio ctl_vendor_imsrcsservice_prop:file read;
allow radio ctl_vendor_mmid_prop:file read;
allow radio ctl_vendor_netmgrd_prop:file read;
allow radio ctl_vendor_port-bridge_prop:file read;
allow radio ctl_vendor_qmuxd_prop:file read;
allow radio ctl_vendor_rild_prop:file read;
allow radio ctl_vendor_rmt_storage_prop:file read;
allow radio ctl_vendor_wigigsvc_prop:file read;
