#============= system_app ==============
allow system_app camera_prop:property_service set;
allow system_app spectrum_prop:property_service set;
allow system_app wificond:binder call;
get_prop(system_app, camera_prop);
get_prop(system_app, spectrum_prop);
add_service(system_app, goodix_fingerprint_service)
allow system_app bg_boot_complete_prop:file read;
allow system_app sysfs:file { getattr open write };
allow system_app sysfs_leds:dir search;
allow system_app sysfs_vibrator:dir search;
allow system_app sysfs_leds:file { open getattr write };
allow system_app sysfs_vibrator:file { getattr open write };
allow system_app bg_daemon_prop:file read;
allow system_app bootloader_boot_reason_prop:file read;
allow system_app boottime_prop:file read;
allow system_app cnd_vendor_prop:file read;
allow system_app console_silent_prop:file read;
allow system_app ctl_LKCore_prop:file read;
allow system_app ctl_atfwd_prop:file read;
allow system_app ctl_bootanim_prop:file read;
allow system_app ctl_console_prop:file read;
allow system_app ctl_fuse_prop:file read;
allow system_app ctl_interface_restart_prop:file read;
allow system_app ctl_interface_start_prop:file read;
allow system_app ctl_interface_stop_prop:file read;
allow system_app ctl_mdnsd_prop:file read;
allow system_app ctl_qcrild_prop:file read;
allow system_app app_data_file:dir search;
allow system_app ctl_restart_prop:file read;
allow system_app ctl_rildaemon_prop:file read;
allow system_app ctl_sigstop_prop:file read;
allow system_app ctl_start_prop:file read;
allow system_app ctl_stop_prop:file read;
allow system_app ctl_vendor_hbtp_prop:file read;
allow system_app ctl_vendor_imsrcsservice_prop:file read;
allow system_app ctl_vendor_mmid_prop:file read;
allow system_app ctl_vendor_netmgrd_prop:file read;
allow system_app ctl_vendor_port-bridge_prop:file read;
allow system_app ctl_vendor_qmuxd_prop:file read;
allow system_app ctl_vendor_rild_prop:file read;
allow system_app ctl_vendor_rmt_storage_prop:file read;
allow system_app ctl_vendor_wigigsvc_prop:file read;
allow system_app dumpstate_options_prop:file read;
allow system_app exported_audio_prop:file read;
allow system_app exported_overlay_prop:file read;
allow system_app exported_wifi_prop:file read;
allow system_app firstboot_prop:file read;
allow system_app fst_prop:file read;
