#============= system_server ==============
allow system_server vendor_file:file { execute getattr open read };
allow system_server vendor_framework_file:file { execute getattr open read };
allow system_server vendor_framework_file:dir { getattr search };
allow system_server vendor_keylayout_file:file r_file_perms;
allow system_server init:binder { call transfer };
allow system_server sysfs:file { getattr open read };
allow system_server default_android_service:service_manager add;
allow system_server default_android_hwservice:hwservice_manager find;
allow system_server dalvikcache_data_file:file { execute write };
allow system_server proc:file r_file_perms;
allow system_server sysfs_vibrator:file read;
allow system_server vendor_camera_prop:file { getattr open read };
allow system_server vendor_default_prop:file { getattr open read };
