#============= system_server ==============
allow system_server vendor_file:file { execute getattr open read };
allow system_server vendor_framework_file:file { execute getattr open read };
allow system_server vendor_framework_file:dir { getattr search };
allow system_server vendor_keylayout_file:file r_file_perms;
allow system_server init:binder { call transfer };
allow system_server sysfs:file { getattr open read };
