#============= system_server ==============
allow system_server vendor_file:file { execute getattr open read };
allow system_server vendor_framework_file:file { execute getattr open read };
allow system_server vendor_framework_file:dir { getattr search };
allow system_server vendor_keylayout_file:file r_file_perms;
allow system_server init:binder { call transfer };
allow system_server sysfs:file { getattr open read };
allow system_server default_android_service:service_manager add;
allow system_server default_android_hwservice:hwservice_manager find;
allow system_server dalvikcache_data_file:file { execute write };
allow system_server proc:file r_file_perms;
allow system_server sysfs_vibrator:file read;
allow system_server vendor_camera_prop:file { getattr open read };
allow system_server vendor_default_prop:file { getattr open read };
allow system_server adsprpc_prop:file read;
allow system_server bg_boot_complete_prop:file read;
allow system_server bg_daemon_prop:file read;
allow system_server bluetooth_a2dp_offload_prop:file read;
allow system_server bluetooth_prop:file read;
allow system_server camera_prop:file read;
allow system_server cnd_vendor_prop:file read;
allow system_server console_silent_prop:file read;
allow system_server ctl_LKCore_prop:file read;
allow system_server ctl_atfwd_prop:file read;
allow system_server ctl_console_prop:file read;
allow system_server ctl_dumpstate_prop:file read;
allow system_server ctl_fuse_prop:file read;
allow system_server ctl_interface_restart_prop:file read;
allow system_server ctl_interface_start_prop:file read;
allow system_server ctl_interface_stop_prop:file read;
allow system_server ctl_mdnsd_prop:file read;
allow system_server ctl_qcrild_prop:file read;
allow system_server ctl_restart_prop:file read;
allow system_server ctl_rildaemon_prop:file read;
allow system_server ctl_sigstop_prop:file read;
allow system_server ctl_start_prop:file read;
allow system_server ctl_stop_prop:file read;
allow system_server ctl_vendor_hbtp_prop:file read;
allow system_server ctl_vendor_imsrcsservice_prop:file read;
allow system_server ctl_vendor_mmid_prop:file read;
allow system_server ctl_vendor_netmgrd_prop:file read;
