# /data/goodix labeling
type_transition tee system_data_file:{ dir file } fingerprint_data_file;

allow tee fingerprint_data_file:dir create_dir_perms;
allow tee fingerprint_data_file:file create_file_perms;
allow tee system_data_file:dir create_dir_perms;
