#============= thermal-engine ==============
allow thermal-engine default_prop:file { getattr open read };
allow thermal-engine system_prop:file { getattr open read };
allow thermal-engine system_prop:property_service set;
