#============= time_daemon ==============
allow time_daemon self:capability { setuid setgid sys_time };
allow time_daemon self:capability { dac_read_search };
allow time_daemon self:capability { dac_override };
