#============= vendor_init ==============
allow vendor_init adsprpcd_file:dir create;
allow vendor_init bt_firmware_file:dir create;
allow vendor_init camera_data_file:dir { create setattr };
allow vendor_init default_prop:property_service set;
allow vendor_init firmware_file:dir create;
allow vendor_init media_rw_data_file:dir setattr;
allow vendor_init rootfs:dir { add_name create setattr write };
allow vendor_init system_data_file:dir { add_name create setattr write };
allow vendor_init wifi_data_file:dir { setattr search };
allow vendor_init dhcp_data_file:dir setattr;
allow vendor_init nfc_data_file:dir { search setattr };
allow vendor_init tombstone_data_file:dir search;
allow vendor_init tombstone_data_file:dir { setattr write };
allow vendor_init wpa_socket:dir setattr;
allow vendor_init persist_debug_prop:property_service set;
allow vendor_init persist_dpm_prop:property_service set;
allow vendor_init qcom_ims_prop:property_service set;
allow vendor_init radio_prop:property_service set;
allow vendor_init rootfs:lnk_file setattr;
allow vendor_init tombstone_data_file:dir { add_name create };
allow vendor_init vendor_camera_prop:property_service set;
