on boot
    # Fingerprint
    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp
    chown system system /sys/devices/soc/soc:fpc1020/fingerdown_wait
    chmod 0220 /sys/devices/soc/soc:fpc1020/fingerdown_wait
    chown system system /sys/devices/soc/soc:fpc1020/irq
    chmod 0660 /sys/devices/soc/soc:fpc1020/irq
    chown system system /sys/devices/soc/soc:fpc1020/hw_reset
    chmod 0660 /sys/devices/soc/soc:fpc1020/hw_reset
    chown system system /sys/devices/soc/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/devices/soc/soc:fpc1020/wakeup_enable

service fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.xiaomi_wayne
    class late_start
    user system
    group system input

service goodix_script /vendor/bin/init.goodix.sh
    class late_start
    user root
    oneshot
