<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings.device"
    android:sharedUserId="android.uid.system" >
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk
        android:minSdkVersion="27"
        android:targetSdkVersion="27" />
    <application
        android:label="@string/advanced_settings"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >
        <receiver
            android:name=".BootReceiver"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".DeviceSettingsActivity"
            android:exported="false"
            android:label="@string/advanced_settings"
            android:icon="@drawable/round_build_24"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
                  <meta-data android:name="com.android.settings.dismiss"
                       android:value="9,13,30" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/advanced_settings_summary" />
        </activity>
    </application>
</manifest>
