service vendor.power-hal-1-3 /vendor/bin/hw/android.hardware.power@1.3-service.xiaomi_sdm660-libperfmgr
    class hal
    user root
    group system
    priority -20
    interface android.hardware.power@1.0::IPower default
    interface android.hardware.power@1.1::IPower default
    interface android.hardware.power@1.2::IPower default
    interface android.hardware.power@1.3::IPower default

# restart powerHAL when framework died
on property:init.svc.zygote=restarting && property:vendor.powerhal.state=*
    setprop vendor.powerhal.state ""
    setprop vendor.powerhal.audio ""
    setprop vendor.powerhal.rendering ""
    restart vendor.power-hal-1-3

# initialize powerHAL when boot is completed
on property:sys.boot_completed=1
    setprop vendor.powerhal.init 1
