  # SPECTRUM KERNEL MANAGER
  # Ramdisk file for profile based kernel management

  # Profiles for Xiaomi Snapdragon 660 Devices by Max Weffers (rcstar6696)

# Initialization
on property:sys.boot_completed=1
  # Enable Spectrum support
  setprop spectrum.support 1
  # Add kernel name
  setprop persist.spectrum.kernel Xiaomi-SDM660

# Balanced
on property:persist.spectrum.profile=0
  write /sys/devices/virtual/thermal/thermal_message/sconfig 0

# Performance
on property:persist.spectrum.profile=1
  write /sys/devices/virtual/thermal/thermal_message/sconfig 1
  
# Battery
on property:persist.spectrum.profile=2
  write /sys/devices/virtual/thermal/thermal_message/sconfig 2

# Gaming/Benchmarks
on property:persist.spectrum.profile=3
  write /sys/devices/virtual/thermal/thermal_message/sconfig 3

# Extreme Battery
on property:persist.spectrum.profile=4
  write /sys/devices/virtual/thermal/thermal_message/sconfig 4
