# Copyright (c) 2013-2017, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    mkdir /bt_firmware 0771 system system
    mkdir /dsp 0771 media media

on init
    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 1
    chown media media /dev/dbmdx-1
    chmod 0770 /dev/dbmdx-1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    mount_all /vendor/etc/fstab.qcom
    swapon_all /vendor/etc/fstab.qcom

    # Set permissions for persist partition
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/bms 0700 root system
    mkdir /mnt/vendor/persist/data 0700 system system
    restorecon_recursive /mnt/vendor/persist

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    mkdir /vendor/mnt/persist/data 0700 system system
    mkdir /vendor/mnt/persist/bms 0700 root system
    restorecon_recursive /vendor/mnt/persist
    mkdir /vendor/mnt/persist/wlan_bt 0777 root system
    #add by Quanyu.Lee for MI-feature
    #only needed on Factory version,DO NOT push to MIUI!
    chmod 0644 /vendor/mnt/persist/wlan_bt/bt.mac
    chmod 0644 /vendor/mnt/persist/wlan_bt/wlan.mac
    chown system system /vendor/mnt/persist/wlan_bt/bt.mac
    chown system system /vendor/mnt/persist/wlan_bt/wlan.mac

    write /sys/kernel/boot_adsp/boot 1

    chmod 0664 /sys/class/thermal/thermal_message/sconfig
    chown system system /sys/class/thermal/thermal_message/sconfig

on post-fs
    start vendor.qseecomd
    exec - system system -- /vendor/bin/init.qti.qseecomd.sh

on init
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

on post-fs-data
    mkdir /data/tombstones/modem 0771 system system
    mkdir /data/tombstones/lpass 0771 system system
    mkdir /data/tombstones/wcnss 0771 system system
    mkdir /data/tombstones/dsps 0771 system system
    mkdir /vendor/mnt/persist/qti_fp 0700 system system
    mkdir /data/misc/seemp 0700 system system
    mkdir /data/misc/tloc 0700 system drmrpc
    mkdir /data/thermal 0771 system system
    mkdir /data/thermal/config 0771 system system

on boot
    start vendor.rmt_storage
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7
    write /dev/cpuset/restricted/cpus 0-7
    ####Regionalization config and prop files####
    chmod 0644 /vendor/mnt/persist/speccfg/spec
    chmod 0644 /vendor/mnt/persist/speccfg/devicetype
    chmod 0644 /vendor/mnt/persist/speccfg/mbnversion
    chmod 0644 /vendor/mnt/persist/speccfg/.not_triggered
    chmod 0644 /vendor/mnt/persist/speccfg/vendor_ro.prop
    chmod 0644 /vendor/mnt/persist/speccfg/vendor_persist.prop
    chmod 0644 /vendor/mnt/persist/speccfg/submask
    chmod 0644 /vendor/mnt/persist/speccfg/partition
    chown system system /vendor/mnt/persist/speccfg/spec
    chown system system /vendor/mnt/persist/speccfg/devicetype
    chown system system /vendor/mnt/persist/speccfg/mbnversion
    chown system system /vendor/mnt/persist/speccfg/.not_triggered
    chown system system /vendor/mnt/persist/speccfg/vendor_ro.prop
    chown system system /vendor/mnt/persist/speccfg/vendor_persist.prop
    chown system system /vendor/mnt/persist/speccfg/submask
    chown system system /vendor/mnt/persist/speccfg/partition

    chmod 0660 /proc/nvt_wake_gesture
    chown system system /proc/nvt_wake_gesture

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath

#Peripheral manager
service vendor.per_mgr /system/vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4

service vendor.per_proxy /system/vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy

service vendor.qseecomd /vendor/bin/qseecomd
   class core
   user root
   group root

service vendor.thermal-engine /system/vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   socket thermal-send-rule stream 0660 system system
   group root

service vendor.time_daemon /system/vendor/bin/time_daemon
   class late_start
   user root
   group root

service vendor.adsprpcd /system/vendor/bin/adsprpcd audiopd
   class main
   user media
   group media

service vendor.imsqmidaemon /system/vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag

service vendor.imsdatadaemon /system/vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    disabled

service vendor.energy-awareness /system/vendor/bin/energy-awareness
    class main
    user system
    group system
    oneshot

service vendor.pd_mapper /system/vendor/bin/pd-mapper
     class core

on property:vendor.ims.QMI_DAEMON_STATUS=1
    start vendor.imsdatadaemon

service vendor.ims_rtp_daemon /system/vendor/bin/ims_rtp_daemon
   class main
   user system
   group radio diag inet log
   disabled

service vendor.imsrcsservice /system/vendor/bin/imsrcsd
   class main
   user system
   group radio diag inet log
   disabled

# add for HMI_L8866_A01-502: begin
on property:vendor.ims.DATA_DAEMON_STATUS=1
    start vendor.ims_rtp_daemon
    start vendor.imsrcsservice
    setprop persist.rcs.supported 0
# add for HMI_L8866_A01-502: end

service vendor.ppd /system/vendor/bin/mm-pp-dpps
    class late_start
    user system
    group system graphics
    socket pps stream 0660 system system
    disabled

on property:init.svc.surfaceflinger=stopped
    stop vendor.ppd

on property:init.svc.surfaceflinger=running
    start vendor.ppd

on property:init.svc.surfaceflinger=restarting
    stop vendor.ppd

on property:init.svc.zygote=stopped
    stop vendor.ppd

on property:init.svc.zygote=running
    start vendor.ppd

on property:init.svc.zygote=restarting
    stop vendor.ppd

on charger
    load_system_props
    start vendor.qcom-post-boot
    start vendor.hvdcp_opti
    setprop sys.usb.configfs 1

service vendor.qfp-daemon /vendor/bin/qfp-daemon
    class late_start
    user system
    group system drmrpc diag input

service vendor.hvdcp_opti /system/vendor/bin/hvdcp_opti
     class main
     user root
     group system wakelock
	
on property:persist.sys.display_srgb=1
	write /sys/class/graphics/fb0/msm_fb_srgb 1

on property:persist.sys.display_srgb=2
    write /sys/class/graphics/fb0/msm_fb_srgb 2

on property:sys.dynamic_debug=1
   write /sys/kernel/debug/dynamic_debug/control "file q6afe.c +p" 
   write /sys/kernel/debug/dynamic_debug/control "file q6adm.c +p" 
   write /sys/kernel/debug/dynamic_debug/control "file msm-pcm-routing-v2.c +p" 
   write /sys/kernel/debug/dynamic_debug/control "file msm-dai-q6-v2.c +p" 
   write /sys/kernel/debug/dynamic_debug/control "file soc-core.c +p" 
   write /sys/kernel/debug/dynamic_debug/control "file soc-dapm.c +p" 
   write /sys/kernel/debug/dynamic_debug/control "file sdm660-internal.c +p" 
   write /sys/kernel/debug/dynamic_debug/control "file sdm660-common.c +p" 
   write /sys/kernel/debug/dynamic_debug/control "file msm-analog-cdc.c +p" 
   write /sys/kernel/debug/dynamic_debug/control "file msm-digital-cdc.c +p"
   write /sys/kernel/debug/dynamic_debug/control "file wcd-mbhc-v2.c +p" 

on property:sys.dynamic_debug=0
   write /sys/kernel/debug/dynamic_debug/control "file q6afe.c -p" 
   write /sys/kernel/debug/dynamic_debug/control "file q6adm.c -p" 
   write /sys/kernel/debug/dynamic_debug/control "file msm-pcm-routing-v2.c -p" 
   write /sys/kernel/debug/dynamic_debug/control "file msm-dai-q6-v2.c -p" 
   write /sys/kernel/debug/dynamic_debug/control "file soc-core.c -p" 
   write /sys/kernel/debug/dynamic_debug/control "file soc-dapm.c -p" 
   write /sys/kernel/debug/dynamic_debug/control "file sdm660-internal.c -p" 
   write /sys/kernel/debug/dynamic_debug/control "file sdm660-common.c -p" 
   write /sys/kernel/debug/dynamic_debug/control "file msm-analog-cdc.c -p" 
   write /sys/kernel/debug/dynamic_debug/control "file msm-digital-cdc.c -p"
   write /sys/kernel/debug/dynamic_debug/control "file wcd-mbhc-v2.c -p"

on property:persist.sys.display_ce=4
    write /sys/class/graphics/fb0/msm_fb_ce 1

on property:persist.sys.display_ce=0
    write /sys/class/graphics/fb0/msm_fb_ce 2

on property:persist.sys.display_cabc=1
    write /sys/class/graphics/fb0/msm_fb_cabc 1

on property:persist.sys.display_cabc=2
    write /sys/class/graphics/fb0/msm_fb_cabc 2

on property:persist.sys.display_gamma=1
    write /sys/class/graphics/fb0/msm_fb_gamma 1

on property:persist.sys.display_gamma=2
    write /sys/class/graphics/fb0/msm_fb_gamma 2

on property:sys.antgpio=0
    write /sys/class/ant_class/ant_state 0

on property:sys.antgpio=1
    write /sys/class/ant_class/ant_state 1
