on boot
    chown system system /sys/devices/virtual/timed_output/vibrator/enable
    chown system system /sys/devices/virtual/timed_output/vibrator/play_mode
    chown system system /sys/devices/virtual/timed_output/vibrator/vtg_default
    chown system system /sys/devices/virtual/timed_output/vibrator/vtg_level
    chown system system /sys/devices/virtual/timed_output/vibrator/vtg_max
    chown system system /sys/devices/virtual/timed_output/vibrator/vtg_min
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_rep
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_s0
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_s1
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_s2
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_s3
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_s4
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_s5
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_s6
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_s7
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_s_rep
    chown system system /sys/devices/virtual/timed_output/vibrator/wf_update
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/enable
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/play_mode
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/vtg_default
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/vtg_level
    chmod 0444 /sys/devices/virtual/timed_output/vibrator/vtg_max
    chmod 0444 /sys/devices/virtual/timed_output/vibrator/vtg_min
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_rep
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_s0
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_s1
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_s2
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_s3
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_s4
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_s5
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_s6
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_s7
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_s_rep
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/wf_update

service vibrator-1-1 /vendor/bin/hw/android.hardware.vibrator@1.1-service.xiaomi_sdm660
    class hal
    user system
    group system
